body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-image: url(./images/first_page/img.jpg);
}

p {
    color: #272a31;
    font-family: 'Cocogoose', sans-serif;
    padding-bottom: 20px;
}

.mainpage,
.aboutus {
    padding-top: 50px;
}

.hamburguer {
    width: 25px;
    height: auto;
}

.mainpage {
    align-items: center;
    height: 100%;
}

.hidden {
    display: none;
}

.mobilenav {
    background-color: #d3d3d3;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    position: absolute;
    margin-left: -10px;
    align-items: center;
    position: absolute;
}

.mobilenav > ul {
    list-style: none;
    justify-content: center;
    margin: 60px;
}

.mobilenav > ul > li > a {
    text-decoration: none;
    color: #272a31;
    font-family: 'Cocogoose', sans-serif;
    font-size: 25px;
}

.mobilenav > ul > li > img {
    width: 95%;
}

.closeicon {
    display: flex;
    justify-content: flex-end;
    padding: 20px 55px 0 0;
}

.aboutusparagraph,
.aboutustitle,
.aboutusgreetings {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main {
    color: #ec5242;
    font-size: calc(1.375rem + 1.5vw);
    font-family: var(--bs-font-sans-serif);
    font-weight: 500;
    line-height: 1.2;
    font-weight: 900;
    padding-bottom: 30px;
}